<div class="layout-nav d-none d-md-block">
  <div class="container">
    <ul class="layout-nav-list">
      <% site.tags.forEach(function(tag) { %>
      <li class="layout-nav-item"><a href="<%= tag.link %>" title="<%= tag.name %>"><%= tag.name %></a></li>
      <% }); %>
    </ul>
  </div>
</div>