.layout-card-archive,
.layout-card-search {
	padding: 8px 24px;
}

.layout-card-archive-item,
.layout-card-search-item {
	position: relative;
	display: flex;
	padding: 16px 0;
	border-bottom: 1px dashed @border-color;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	align-items: center;
	word-break: break-word;
}

.layout-card-archive-item:last-child,
.layout-card-search-item:last-child {
	border-bottom-width: 0;
}

.layout-card-archive-item .layout-card-archive-title,
.layout-card-search-item .layout-card-search-title {
	display: inline-block;
	overflow: hidden;
	color: @font-dark-color;
	text-overflow: ellipsis;
	white-space: nowrap;
	flex: 1 1;
}

.layout-card-archive-item:hover .layout-card-archive-title,
.layout-card-search-item:hover .layout-card-search-title {
	color: @main-color;
}

.layout-card-archive-item .layout-card-archive-time,
.layout-card-search-item .layout-card-search-time {
	display: inline-block;
	margin-left: 24px;
	color: @font-color;
}